Desktop Fuck Upper/Project2/Debug/Desktop .90BB56D1.tlog/CL.command.1.tlog
Desktop Fuck Upper/Project2/Debug/Desktop .90BB56D1.tlog/CL.read.1.tlog
*.tlog
Desktop Fuck Upper/Project2/Debug/Project2.log
Desktop Fuck Upper/Project2/Debug/vc140.idb
*.pdb
Desktop Fuck Upper/.vs/Desktop Fuck Upper/v14/.suo
*.db
Desktop Fuck Upper/.vs/Desktop Fuck Upper/v14/.suo
*.db
Desktop Fuck Upper/.vs/Desktop Fuck Upper/v14/.suo
*.db